<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sendtommon.gethxc.DAO">

<!-- 字段 -->
	<sql id="Field">
		id,
		addTime,
		collectionCount,
		coverImgUrl,
		disabled,
		isHot,
		isNeedLogin,
		isRecomend,
		isVip,
		length,
		name,
		no,
		point,
		seeCount,
		tags,
		typeID,
		typeName,
		url,
		downloaded,
		fileName,
		seq
	</sql>
	
	<sql id="FieldValue">
		#{ID},
		#{AddTime},
		#{CollectionCount},
		#{CoverImgUrl},
		#{Disabled},
		#{IsHot},
		#{IsNeedLogin},
		#{IsRecomend},
		#{IsVip},
		#{Length},
		#{Name},
		#{No},
		#{Point},
		#{SeeCount},
		#{Tags},
		#{TypeID},
		#{TypeName},
		#{Url},
		#{downloaded},
		#{fileName},
		#{seq}
	</sql>

	<insert id="add" parameterType="detailDTO">
		insert into
			hxc_video
		(<include refid="Field" />)
		values
		(<include refid="FieldValue" />)
	</insert>
	
	<select id="getWaitDown" resultType="detailDTO">
	select * from hxc_video where downloaded = '0' 
	and (tags like '%'||'精选系列'||'%' or tags like '%'||'国产'||'%' or tags like '%'||'网红'||'%' or tags like '%'||'主播'||'%')
	</select>
	
	<update id="update" parameterType="detailDTO">
	update hxc_video set 
	downloaded = #{downloaded}
	where
	id = #{ID}
	</update>

</mapper>